h1{
    text-align: center;
    font-size:50px;;
    color: blue;
}
h3{
    text-align: center;
    font-size:50px;;
    color: blue;
}
li{
    text-align: center;
    font-size:20px;;
    color: blue;
}
.murali{
    align:center;
}
.ul{
    align:center;
}
